body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.form-holder{
    background-color:burlywood;
    padding:2rem;
    border-radius:1rem;
    width:min-content;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
label{
    display:block
}
.admin-page{
    background-color: chocolate;
    height:100vh;
    display:flex;
    padding:1rem;
}
table,th,td,tr{
    border:thin solid yellow;
    border-collapse:collapse;
}
.admin-dashboard{
    flex-grow: 1;
    background-color: rgb(222, 61, 147);
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-content{
    padding:2rem;
    flex-grow: 4;
    background-color: rgb(205, 132, 171);
}
.studentPage{
    background-color:rgb(185, 202, 156);
}

.trainer-page{
    background-color: rgb(235, 229, 153);
    height:100vh;
    padding:2rem;
    display:flex;
}

.trainer-dashboard-pointer{
    flex-grow: 1;
    background-color: rgb(186, 171, 217);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    text-align: center;
    color: white;
}
.content-viewer{
    flex-grow:5;
    padding: 2rem;
    background-color: rgb(122, 80, 207);
}
.trainer-profile{
    text-align: center;
    border:thin solid black;
    padding:1rem;
    background-color: rgb(217, 166, 193);
    color:blue;
}
.rating-text{
    font-size:5rem;
    text-align: center;
    color:white;
    background-color: rgb(158, 230, 232);
}
.feedback-container{
    background-color:rgb(206, 54, 135); 
    padding:2rem;
    color:white
}
.rating-text{
    color:white;
    padding:5rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.student-container{
    background-color:rgb(83, 83, 86);
    padding:2rem;
}